# Configuración de Base de Datos (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=academia_pasalo

# Configuración de Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# CORS - Orígenes permitidos para realizar peticiones al backend
# Formato: Lista separada por comas, sin espacios
# Desarrollo: http://localhost:3000,http://127.0.0.1:3000
# Producción: https://tudominio.com,https://www.tudominio.com
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Seguridad y Autenticación (JWT)
# Generar una clave robusta para entornos de desarrollo
JWT_SECRET=desarrollo_secret_key_123

# Google OAuth 2.0
# Se obtienen desde la Google Cloud Console
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=postmessage

# Google Drive Service Account (Storage)
GOOGLE_DRIVE_SERVICE_ACCOUNT_KEY_PATH=D:\trabajos_profesionales\academia_pasalo\academia-pasalo-storage-1014ca7c311b.json
GOOGLE_DRIVE_ROOT_FOLDER_ID=1U7R8QoKHtP4MERb1rBjA4GE6A15vg7I9

# Configuración de la API
API_PORT=3000
API_PREFIX=api/v1
NODE_ENV=development
